<div class="input-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Amount of Cities" [(ngModel)]="geneticAlgorithm.cityCount">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Number of Generations" [(ngModel)]="geneticAlgorithm.generations">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Size of Population" [(ngModel)]="geneticAlgorithm.populationSize">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Rate of Mutation" [(ngModel)]="geneticAlgorithm.mutationRate">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Amount of elite parents" [(ngModel)]="geneticAlgorithm.eliteSize">
  </mat-form-field>
</div>
