<ngx-charts-line-chart
                       [view]="options.view"
                       [scheme]="options.colorScheme"
                       [results]="data"
                       [xAxis]="options.showXAxis"
                       [yAxis]="options.showYAxis"
                       [xAxisLabel]="options.xAxisLabel"
                       [yAxisLabel]="options.yAxisLabel"
                       [gradient]="options.gradient"
                       [autoScale]="options.autoScale"
                       [timeline]="options.timeline"
                       [legend]="options.showLegend"
                       [showXAxisLabel]="options.showXAxisLabel"
                       [showYAxisLabel]="options.showYAxisLabel"
                       (select)="onSelect($event)"
>
</ngx-charts-line-chart>
