.view-bar
  display: flex
  flex-direction: row
  justify-content: space-evenly
  width: 100%
  height: 25em
  padding: 1em 0
  background: #979797


#svg
  height: 100%
  background: #979797

#chart
  align-self: center

.input-bar
  margin: 1em 15em

.button-bar
  display: flex
  flex-direction: row
  justify-content: center

@import "../../slider"
