<svg [attr.viewBox]="viewBox" id="svg">
  <circle *ngFor="let city of cities$ | async" [attr.cx]="city.x" [attr.cy]="city.y" r="4" stroke="none"
          fill="white"></circle>
  <line *ngFor="let path of paths" [attr.x1]="path.startX" [attr.y1]="path.startY"
        [attr.x2]="path.endX" [attr.y2]="path.endY" stroke="#8400ff" stroke-width="2"></line>

</svg>

<button mat-flat-button (click)="generateCities()">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  Generate Cities
</button>
<button mat-flat-button (click)="run()">
  <mat-icon aria-hidden="false" aria-label="Example home icon">timeline</mat-icon>
  Solve
</button>
