\:host
  display: flex
  flex-direction: column
  align-items: stretch

app-canvas
  background: #979797
  flex: 1

.button-bar
  align-self: center
  margin: 1em 0

.input-bar
  margin: 1em 15em
  display: flex
  flex-direction: column

mat-form-field
  margin: 0 0.5em

@import "../../slider"
