<app-canvas [height]="height" [width]="width" [scaleFactor]="scaleFactor" [delay]="timeout"
            #canvas></app-canvas>
<div class="button-bar">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Scale Factor" [(ngModel)]="scaleFactor">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Timeout" [(ngModel)]="timeout">
  </mat-form-field>
</div>
<div class="button-bar">
  <button (click)="generateMaze()" mat-flat-button>Generate Maze</button>
  <button (click)="findPath()" mat-flat-button>Find Path</button>
</div>
